/.git
/.github
/.idea
/.storybook
/.vscode
/build
/dist
/gen
/node_modules
/src/Server/scripts

/.eslintcache
/.gitignore
/.prettierignore
/.prettierrc
/.unimportedrc.json
/.vsls.json
/commit.sh
/CONTRIBUTING.md
/docker-compose.yml
/nodemon.json
/README.md

/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*